@using System.ComponentModel.DataAnnotations
@using System.Diagnostics
@using Crawler
@using Crawler.Option
@using ModelsLib

<h3>测试视图</h3>
<div class="container">
    <div class="bytheway">
        注意: 一定要安装了 Chrome 浏览器后再来使用该程序
    </div>
    <div>
        工号 (作为保存文件名):
        <input @bind="_inputModel.Id"/>
    </div>
    <div>
        联盟:
        <select @bind="Selected">
            @foreach (var str in AllPlatform)
            {
                <option value=@str>@str</option>
            }
        </select>
    </div>
    <div>
        账户 (登录账号名):
        <input @bind="_inputModel.Account"/>
    </div>
    <div>
        密码 (登录密码):
        <input @bind="_inputModel.Password"/>
    </div>
    <div>
        所在州:
        <input @bind="_inputModel.State"></input>
    </div>
    <div>
        代理 IP 及端口:
        <input @bind="IP"/>
        <input @bind="Port"/>
    </div>
    <div>
        流量源站点 (合作站点):
        <input @bind="_inputModel.Site"/>
    </div>
    <div>
        保存路径
        <input @bind="_inputModel.SavePath"/>
    </div>
    <button @onclick="Save">采集</button>
    <textarea @bind="DEBUG"></textarea>
</div>

@code {
    private static List<string> AllPlatform = new()
    {
        "CJ",
    };

    private InputModel _inputModel = new()
    {
        Id = "YK0000",
        Account = "",
        Password = "",
        State = "",
        Site = "",
        SavePath = "./生成文档"
    };
    
    [Required]
    private string IP { get; set; } = "127.0.0.1";
    [Required]
    private string Port { get; set; } = "40000";
    
    private string Selected { get; set; } = AllPlatform[0];
    private string DEBUG { get; set; } = "lalala";
    
    private IOption _option;
    private void Save()
    {
        try
        {
            if (_inputModel.Id.Length <= 0 ||
                _inputModel.Account.Length <= 0 ||
                _inputModel.Password.Length <= 0 ||
                IP.Length <= 0 ||
                _inputModel.Site.Length <= 0 ||
                Port.Length <= 0)
            {
                return;
            }
            DEBUG = Selected;
            _option = Selected switch
            {
                "CJ" => new CjOption(_inputModel,IP, Port),
                _ => _option
            };
            var missionCrawler = new MissionCrawler(_option);
            var mission = missionCrawler.SaveToExcel();
            foreach (var m in mission)
            {
                DEBUG += m.Title + "\n";
                DEBUG += m.Code + "\n";
            }
        }
        catch(Exception e)
        {
            DEBUG = e.ToString();
        }
    }
}
